<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="menu">
                <a href="#" class="">About</a>
                <a href="#" class="">Work</a>
                <a href="#" class="">Contact</a>
            </nav>

            <div class="text-container">
                <div class="text">
                    <h1 class="name">{{ name }}</h1>
                    <h2 class="profession">{{ profession }}</h2>
                </div>
            </div>
        </div>
    </header>

    <section class="main">
        <section class="about">
            <div class="container">
                <div class="photo">
                    <img src="img/photo.jpg" width="115" height="115" alt="Luis Alberto">
                </div>
                <div class="text">
                    <h3 class="title">About</h3>
                    <p>Lorem ipsum dolor sit amet, <span class="bold">consectetur adipisicing</span> elit. Sint laboriosam cum minus, quae voluptas magnam vel consequatur iste dolore expedita dolorum ad, cumque error dolorem, sunt <span class="bold">repudiandae aspernatur</span> sed consectetur!</p>
                </div>
            </div>
        </section>

        <section class="work">
            <section class="container">
                <h3 class="title">Work</h3>
                <div class="work-container">
                {{#items}}
                <div class="work-item work-container-item-{{.}}">
                    <div class="thumb">
                        <img src="img/work/{{.}}.jpg" alt="Lorem ipsum">
                    </div>
                    <div class="description">
                        <p class="name">Lorem ipsum</p>
                        <p class="category">HTML - CSS - PHP</p>
                    </div>
                </div>
                {{/items}}
                </div>
            </section>
        </section>
    </section>

    <footer>
        <section class="contact">
            <div class="container">
                <h3 class="title">Contact</h3>
                <form action="" class="form">
                    <input type="text" placeholder="Name" name="name" id="" required>
                    <input type="email" placeholder="Mail" name="mail" id="" required>
                    <textarea name="message" placeholder="Message:"></textarea>
                    <input type="submit" class="button" value="Send">
                </form>
            </div>
        </section>

        <section class="social-networks">
            <div class="container">
                <a class="twitter" href="https://www.twitter.com/falconmasters"><i class="fa fa-twitter"></i></a>
                <a class="facebook" href="https://www.facebook.com/falconmasters"><i class="fa fa-facebook"></i></a>
                <a class="youtube" href="https://www.youtube.com/falconmasters"><i class="fa fa-youtube-play"></i></a>
                <a class="github" href="https://www.github.com/falconmasters"><i class="fa fa-github"></i></a>
                <a class="instagram" href="https://www.instagram.com/falconmasters"><i class="fa fa-instagram"></i></a>
            </div>
        </section>
    </footer>
</body>
</html>
